body, html {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.5s ease, height 0.5s ease;
}
.profile-photo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  background-image: url('/assets/page_heading_bg.jpg');
  background-size: cover;
  background-position: center;
  height: 80px;
  transition: background-image 0.5s ease, padding 0.5s ease;
}

.scrolled-header .navbar {
  padding: 10px 30px;
  background-color: rgba(0, 0, 0, 0.8);
}

.scrolled-header .logo img {
  height: 60px;
}


.logo img {
  height: 80px;
  transition: height 0.5s ease;
}

.nav-links {
  display: flex;
  list-style: none;
  margin-left: auto;
}

.nav-links li {
  margin: 0 30px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease, font-size 0.3s ease;
}

.scrolled-header .nav-links a {
  font-size: 14px;
}


.profile-icon i {
  font-size: 40px;
  color: white;
  transition: color 0.3s ease;
}

.profile-icon i:hover {
  color: #f4c23d;
}

.nav-links a:hover {
  color: #f4c23d;
}

.scrolled-header .profile-icon img {
  width: 50px;
  height: 50px;
  transition: height 0.5s ease;
}

.space {
  height: 25vh;
}


.profile-icon {
  display: block;
}

.profile-link {
  display: none;
}
.logout-button{
  color: white;
  font-size: 16px;
  font-weight: bold;
  transition: color 0.3s ease, font-size 0.3s ease;
  cursor:pointer;
}

.hamburger {
  display: none;
  cursor: pointer;
}

.hamburger div {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px;
  transition: 0.4s;
}

/* Responsive Design */
@media (max-width: 768px) {

  .nav-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 93px;
    right: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: max-height 0.5s ease;
  }

  .scrolled-header .nav-links {
    top: 83px;
  }

  .nav-links.active {
    display: flex;
  }
  .space {
    height: 16vh;
  }
  .nav-links li {
    text-align: center;
    margin: 15px 0;
  }

  .nav-links li.profile-link {
    display: block;
  }

  .profile-icon {
    display: none;
  }

  .hamburger {
    display: block;
  }

  .navbar {
    padding: 15px 20px;
  }
}


.nav-links.active li {
  animation: slideIn 0.5s ease forwards;
}

@media screen and (max-width: 480px) {
  .space {
    height: 22vh;
  }
}
@keyframes slideIn {
  from {
    transform: translateY(-20px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
