
<header [ngClass]="{'scrolled-header': isScrolled}" class="site-header">
  <!-- Navbar para Seller -->
  <header *ngIf="userRole === 'seller'" class="site-header">
    <nav class="navbar">
      <div class="logo">
        <a><img src="assets/logo.png" alt="Car 2 Go"></a>
      </div>
      <ul class="nav-links">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/car-listing">Car Listing</a></li>
        <li><a routerLink="/my-cars">My Cars</a></li>
        <li> <a (click)="logout()" class="logout-button" >Logout</a></li>
        <li class="profile-link"><a routerLink="/profile">Profile</a></li>
      </ul>
      <a routerLink="/profile">
        <div class="profile-icon">
          <i class="material-icons">account_circle</i>
        </div>
      </a>
      <div class="hamburger" (click)="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </nav>
  </header>

  <!-- Navbar para Buyer -->
  <header *ngIf="userRole === 'buyer'" class="site-header">
    <nav class="navbar">
      <div class="logo">
        <a><img src="assets/logo.png" alt="Car 2 Go"></a>
      </div>
      <ul class="nav-links">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/favorites">My Favorites</a></li>
        <li><a routerLink="/car-listing">Car Listing</a></li>
        <li><a (click)="logout()">Logout</a></li>
        <li class="profile-link"><a routerLink="/profile">Profile</a></li>
      </ul>
      <a routerLink="/profile">
        <div class="profile-icon">
          <i class="material-icons">account_circle</i>
        </div>
      </a>
      <div class="hamburger" (click)="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </nav>
  </header>

  <!-- Navbar para Mechanic -->
  <header *ngIf="userRole === 'mechanic'" class="site-header">
    <nav class="navbar">
      <div class="logo">
        <a><img src="assets/logo.png" alt="Car 2 Go"></a>
      </div>
      <ul class="nav-links">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/mechanic-revision">Uninspected Cars</a></li>
        <li><a routerLink="/mechanic-check">Reviewed Cars</a></li>
        <li><a (click)="logout()">Logout</a></li>
        <li class="profile-link"><a routerLink="/profile">Profile</a></li>
      </ul>
      <a routerLink="/profile">
        <div class="profile-icon">
          <i class="material-icons">account_circle</i>
        </div>
      </a>
      <div class="hamburger" (click)="toggleMenu()">
        <div></div>
        <div></div>
        <div></div>
      </div>
    </nav>
  </header>
</header>
  <section>
  <div class="space"></div>
</section>
