.profile-background {
  background-image: url('/assets/background-profile.jpg');
  background-size: cover;
  background-position: center;
  height: 68vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  border-radius: 15px;
  width: 50%;
}

.profile-card {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  padding: 40px;
  max-width: 400px;
  width: 100%;
  text-align: center;
  position: relative;
  padding-top: 80px;
}

.profile-picture {
  position: absolute;
  top: -60px;
  left: 50%;
  transform: translateX(-50%);
}

.profile-picture img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.edit-name-row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 10px 0;
}

.info-content p {
  margin: 0;
  font-size: 16px;
  color: #333;
}

span.material-symbols-outlined {
  font-size: 24px;
  color: #4F889E;
}

hr {
  width: 100%;
  border: none;
  border-top: 1px solid #ccc;
}

button {
  border: none;
  display: flex;
  padding: 0.75rem 1.5rem;
  background-color: #488aec;
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  user-select: none;
  gap: 0.75rem;
  box-shadow:
    0 4px 6px -1px #488aec31,
    0 2px 4px -1px #488aec17;
  transition: all 0.6s ease;
}

button:hover {
  box-shadow:
    0 10px 15px -3px #488aec4f,
    0 4px 6px -2px #488aec17;
}

button:focus,
button:active {
  opacity: 0.85;
  box-shadow: none;
}

button svg {
  width: 1.25rem;
  height: 1.25rem;
}
.message-and-button {
  display: flex;
  justify-content: space-between; /* Asegura que el botón esté a la derecha del texto */
  align-items: center; /* Alinea verticalmente el texto y el botón */
  margin-bottom: 10px; /* Espacio debajo del contenedor */
}

.temporary-message {
  margin-right: 10px; /* Espacio entre el texto y el botón */
}

.new-images .info-item button {
  background-color: #3498db;
  border: none;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.new-images .info-item button svg {
  width: 24px;
  height: 24px;
}

.new-images .info-item button:hover {
  background-color: #2980b9;
}

.hidden-file-input {
  display: none;
}


@media screen and (max-width: 768px) {
  .profile-card {
    max-width: 90%;
  }

  .profile-picture img {
    width: 100px;
    height: 100px;
  }
}
