<app-toolbar></app-toolbar>

<div class="profile-background">
  <div class="profile-card">
    <div class="profile-picture">
      <img *ngIf="imagePreview" [src]="imagePreview" alt="{{ userData.firstName }} {{ userData.lastName }}">
    </div>

    <div class="profile-info">
      <h2 *ngIf="currentRole">{{ getRoleDisplayName(currentRole) }}</h2>
      <h3 *ngIf="!editMode">{{ userData.firstName }} {{ userData.lastName }}</h3>

      <div *ngIf="editMode">
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>First Name</mat-label>
          <input matInput [(ngModel)]="userData.firstName" placeholder="Enter your first name">
        </mat-form-field>
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Last Name</mat-label>
          <input matInput [(ngModel)]="userData.lastName" placeholder="Enter your last name">
        </mat-form-field>
      </div>

      <div *ngIf="!editMode">
        <p><strong>Email:</strong> {{ userData.email }}</p>
        <p><strong>Address:</strong> {{ userData.address }}</p>
        <p><strong>Phone:</strong> {{ userData.phone }}</p>
        <p><strong>DNI:</strong> {{ userData.dni }}</p>
      </div>
    </div>

    <div *ngIf="currentRole === 'ROLE_SELLER'">

      <h3>Payment Methods</h3>

      <div class="payment-methods-container" *ngIf="!editMode && userData.paymentMethods && userData.paymentMethods.length > 0">
        <div *ngFor="let method of userData.paymentMethods" class="payment-method">
          <div class="bank-logo">
            <img *ngIf="method.type === 'BBVA' || method.type === 'bbva'" src="assets/bbva.jpg" alt="BBVA">
            <img *ngIf="method.type === 'BCP' || method.type === 'bcp'" src="assets/bcp.jpg" alt="BCP">
            <img *ngIf="method.type === 'Scotiabank' || method.type === 'scotiabank'" src="assets/scotiabank.png" alt="Scotiabank">
            <img *ngIf="method.type === 'Interbank' || method.type === 'interbank'" src="assets/interbank.jpg" alt="Interbank">
            <img *ngIf="method.type === 'Banco de la Nación' || method.type === 'banco de la nacion'" src="assets/bn.jpg" alt="Banco de la Nación">
          </div>
          <p><strong></strong> {{ method.type }}</p>
          <p><strong>Account Number:</strong> {{ method.details }}</p>
        </div>
      </div>

      <div *ngIf="!editMode && userData.paymentMethods?.length === 0">
        No payment methods available.
      </div>


      <div *ngIf="editMode">
        <div *ngFor="let method of userData.paymentMethods; let i = index" class="payment-method">
          <ng-container *ngIf="!method.markedForDeletion">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Type</mat-label>
              <input matInput [(ngModel)]="method.type" placeholder="Payment Type">
            </mat-form-field>
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Details</mat-label>
              <input matInput [(ngModel)]="method.details" placeholder="Payment Details">
            </mat-form-field>
            <button mat-icon-button color="warn" (click)="markForDeletion(i)">
              <span class="material-symbols-outlined">delete</span>
            </button>
          </ng-container>
        </div>

        <button mat-raised-button color="primary" (click)="addNewPaymentMethod()" [disabled]="userData.paymentMethods.length >= 3">
          Add Payment Method
        </button>
      </div>



    <button mat-raised-button color="primary" (click)="editMode ? onSave() : toggleEditMode()">
      {{ editMode ? 'Save' : 'Edit' }}
    </button>
  </div>
 </div>
</div>
