<app-toolbar></app-toolbar>
<section>
  <div class="car-wrapper">
    <div class="car-header">
      <div class="icon-wrapper">
        <div class="icon-circle">
          <i class="fa fa-star"></i>
        </div>
        <div class="header-underline"></div>
      </div>
      <div class="text-content">
        <h2>MY FAVORITES</h2>
        <span>Here are your favorite cars</span>
      </div>
    </div>


    <div class="car-container">
      <div class="car-item-horizontal" *ngFor="let car of paginatedCars" (click)="viewCarDetails(car.id)">
        <div class="image-wrapper-horizontal">
          <img [src]="car.image" alt="{{ car.title }}" class="img-thumbnail">
        </div>
        <div class="content-horizontal">
          <div class="title-favorite-wrapper">
            <a>
              <h4>{{ car.title }}</h4>
            </a>
            <button class="delete-button" (click)="removeFavorite(car.id); $event.stopPropagation()">
              <i class="fa fa-trash"></i>
            </button>
          </div>
          <span>{{ car.price | currency }}</span>
          <p>{{ car.description }}</p>
          <ul class="car-info">
            <li>
              <div class="item">
                <i class="fas fa-calendar"></i>
                <p>{{ car.year }}</p>
              </div>
            </li>
            <li>
              <div class="item">
                <i class="fas fa-road"></i>
                <p>{{ car.speed }}p/h</p>
              </div>
            </li>
            <li>
              <div class="item">
                <i class="fas fa-gas-pump"></i>
                <p>{{ car.mileage }}km</p>
              </div>
            </li>
            <li>
              <div class="item">
                <i class="fas fa-gas-pump"></i>
                <p>{{ car.fuel }}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Paginación -->
    <div class="pagination">
      <button
        class="page-button"
        [class.active]="currentPage === page"
        *ngFor="let page of [].constructor(totalPages); let i = index"
        (click)="changePage(i + 1)">
        {{ i + 1 }}
      </button>
    </div>
  </div>
</section>
<app-footer></app-footer>
