<app-toolbar></app-toolbar>

<body>
<div class="container">
  <div class="card">
    <div class="img-container">
      <img src="../../../assets/car_item_1.jpg" alt="Toyota Model">
    </div>
    <div class="info">
      <div class="info-left">
        <h2>TOYOTA</h2>
        <h3>MODEL</h3>
      </div>
      <div>
        <p style="font-weight: bold; text-decoration: underline;">Review Document</p>
      </div>
      <button>MODIFY</button>
    </div>
  </div>
  <div class="card">
    <div class="img-container">
      <img src="../../../assets/car_item_2.jpg" alt="Toyota Model">
    </div>
    <div class="info">
      <div class="info-left">
        <h2>TOYOTA</h2>
        <h3>MODEL</h3>
      </div>
      <div>
        <p style="font-weight: bold; text-decoration: underline;">Review Document</p>
      </div>
      <button>MODIFY</button>
    </div>
  </div>
  <div class="card">
    <div class="img-container">
      <img src="../../../assets/car_item_3.jpg" alt="Toyota Model">
    </div>
    <div class="info">
      <div class="info-left">
        <h2>TOYOTA</h2>
        <h3>MODEL</h3>
      </div>
      <div>
        <p style="font-weight: bold; text-decoration: underline;">Review Document</p>
      </div>
      <button>MODIFY</button>
    </div>
  </div>
</div>
</body>

