.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 20px;
  padding: 20px;
}

.scrollable-content {
  max-height: 80vh;
  overflow-y: scroll;
  padding-right: 110px;
  width: 90%;
}

h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  font-size: .7em;
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  width: 50%;
  padding: 10px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}
.form-group select{
  width: 52.74%;
}
.form-row {
  display: flex;

}
.form-row input{
  width: 67%;
}
.half-width {
  width: 30%;
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
  margin-top: 20px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

/* Estilo de los selectores */
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  width: 100%;
}


.summary-column {
  border: 1px solid #ddd;
  padding: 20px;
  background-color: #f9f9f9;
  width: 90%;
}

.summary-column h2 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

.product-summary {
  font-size: 1em;
  line-height: 1.5;
}

.product-summary ul {
  list-style-type: none;
  padding-left: 0;
}

.product-summary li {
  margin-bottom: 5px;
}

.product-summary hr {
  margin: 10px 0;
}


.scrollable-content::-webkit-scrollbar {
  width: 8px;
}

.scrollable-content::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 10px;
}

.scrollable-content::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}
