<app-toolbar></app-toolbar>

<div class="container">
  <div *ngIf="pendingCars.length === 0">
    <p>No cars pending for review.</p>
  </div>

  <div *ngFor="let car of pendingCars">
    <mat-card class="card">
      <div class="row">
        <div class="col-50 image-column">
          <div class="car-gallery">
            <img [src]="car.image" alt="{{ car.brand }} {{ car.model }}">
          </div>
        </div>

        <div class="col-50">
          <div class="car-data">
            <div class="column-list">
              <ul>
                <li><i class="material-symbols-outlined">event</i><span>{{ car.year }}</span></li>
                <li><i class="material-symbols-outlined">auto_transmission</i><span>{{ car.transmission }}</span></li>
                <li><i class="material-symbols-outlined">bolt</i><span>{{ car.engine }}</span></li>
              </ul>
            </div>
            <div class="column-list">
              <ul>
                <li><i class="material-symbols-outlined">location_on</i><span>{{ car.location }}</span></li>
                <li><i class="material-symbols-outlined">invert_colors</i><span>{{ car.color }}</span></li>
                <li><i class="material-symbols-outlined">road</i><span>{{ car.mileage }}</span></li>
              </ul>
            </div>
          </div>

          <div class="owner-info">
            <h4>Owner Information</h4>
            <p><strong>Name:</strong> {{ car.name }}</p>
            <p><strong>Phone:</strong> {{ car.phone }}</p>
            <p><strong>Email:</strong> {{ car.email }}</p>
          </div>
          <div class="checkbox-container">
            <label class="checkbox-label">
              <input type="checkbox" [(ngModel)]="review.isApproved" class="styled-checkbox"/>
              <span class="custom-checkbox"></span>
              Approved
            </label>
          </div>

        </div>
      </div>

      <!-- Review Section -->
      <div class="row">
        <div class="review-section">
          <p><strong>Review Document</strong></p>
          <textarea [(ngModel)]="car.reviewNotes" placeholder="Add review notes here..."></textarea>
        </div>


        <!-- Create Review Button -->
        <button (click)="createCarReview(car, car.reviewNotes)">Create Review</button>
      </div>
    </mat-card>
  </div>
</div>
