<app-toolbar></app-toolbar>

<div class="container">

  <div *ngIf="reviewedCars.length === 0" class="no-review">
    <p>No cars have been reviewed yet.</p>
  </div>

  <div *ngFor="let car of reviewedCars" class="card">
    <div class="card-content">
      <div class="img-container">
        <img [src]="car.image || 'assets/default_image.jpg'" alt="{{ car.brand }} {{ car.model }}">
      </div>

      <div class="info-container">
        <div class="owner-details">
          <h4>Owner Information</h4>
          <p><i class="material-icons">person</i><strong>Name:</strong> {{ car.name }}</p>
          <p><i class="material-icons">phone</i><strong>Phone:</strong> {{ car.phone }}</p>
          <p><i class="material-icons">email</i><strong>Email:</strong> {{ car.email }}</p>
        </div>

        <div *ngIf="car.reviews && car.reviews.length > 0" class="review-details">
          <h4>Review Information</h4>
          <p><i class="material-icons">person</i><strong>Reviewed By:</strong> {{ car.reviews[car.reviews.length - 1].reviewerInfo.name}}</p>
          <p><i class="material-icons">event</i><strong>Review Date:</strong> {{ car.reviews[car.reviews.length - 1].reviewDate | date }}</p>
          <p><i class="material-icons">note</i><strong>Notes:</strong> {{ car.reviews[car.reviews.length - 1].notes }}</p>
        </div>

        <div class="no-review" *ngIf="!car.reviews || car.reviews.length === 0">
          <p><strong>No reviews available</strong></p>
        </div>
      </div>
    </div>
  </div>
</div>
