.car-wrapper {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 15px;
}

.car-header {
  text-align: center;
  margin-bottom: 40px;
}


.icon-wrapper {
  text-align: center;
  margin-bottom: 15px;
}

.icon-circle {
  background-color: #f4c23d;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.icon-circle i {
  font-size: 28px;
  color: #000;
}


.text-content h2 {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: #1e1e1e;
  text-align: center;
  margin-bottom: 5px;
}

.text-content span {
  display: block;
  color: #888;
  font-size: 14px;
  text-align: center;
}

.header-underline {
  width: 50px;
  height: 4px;
  background-color: #2959ad;
  margin: 15px auto;
  transition: width 0.3s ease-in-out;
}

.car-header:hover .header-underline {
  width: 70px;
}

.car-info li {
  width: 25%;
  margin-right: 5px;
  text-align: center;
}

.car-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
}

.car-item {
  width: 300px;
  flex: 0 0 auto;
  margin-bottom: 30px;
  border-radius: 12px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
  border-bottom: transparent 3px solid;
}

.car-item:hover {
  border-bottom: #2959ad 3px solid;
}

.thumb-content {
  position: relative;
  overflow: hidden;
}

.thumb-inner img {
  width: 100%;
  aspect-ratio: 16 / 13;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  transition: transform 0.3s ease;
}


.car-item:hover .thumb-inner img {
  transform: scale(1.05);
}


.down-content {
  padding: 20px;
  text-align: left;
}

.down-content h4 {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 10px;
  color: #1e1e1e;
}

.down-content a {
  text-decoration: none;
}

.down-content span {
  font-size: 16px;
  font-weight: 900;
  color: #2959ad;
  margin-bottom: 10px;
  display: block;
}

.down-content p {
  color: #888;
  font-size: 14px;
  margin-bottom: 20px;
}


.car-info {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}



.car-info li .item {
  background-color: #f7f7f7;
  padding: 10px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.car-info li .item:hover {
  background-color: #f4c23d;
}

.car-info li .item i {
  display: block;
  margin-bottom: 5px;
}

.car-info li .item p {
  margin: 0;
  font-size: 12px;
  font-weight: 600;
  color: #333;
}

/* Call to Action */
.cta-section {
  text-align: center;
  margin-top: 30px;
  padding-bottom: 60px;
}

.cta-button {
  background-color: #2959AD;
  color: white;
  border: none;
  text-decoration: none;
  padding: 12px 36px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #f4c23d;
}

.cta-section-top {
  text-align: end;
  margin-bottom: 30px;
  margin-right: 35px;
}

.cta-button-top {
  background-color: #2959AD;
  color: white;
  border: none;
  text-decoration: none;
  padding: 8px 40px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 10px;

  transition: background-color 0.3s ease;
  display: inline-block;
}

.cta-button-top:hover {
  background-color: #f4c23d;
}
.title-favorite-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}


.favorite-button {
  background-color: rgba(255, 255, 255, 0.9);
  border: none;
  border-radius: 50%;
  padding: 5px;
  margin-top:-15px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.favorite-button i {
  color: #ccc;
  font-size: 15px;
}

.favorite-button:hover {
  background-color: #f4c23d;
}

.favorite-button:hover i {
  color: #fff;
}

.modal-overlay {
  position: fixed;
  top: 40px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 90%;
  max-width: 1000px;
  max-height: 70vh;
  overflow-y: auto;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

h1 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 10px;
}

.highlight {
  color: #F4C23D;
}

p {
  font-size: 18px;
  color: #555;
  margin-bottom: 20px;
}

.cta-button {
  background-color: #2959AD;
  border: none;
  padding: 15px 30px;
  font-size: 18px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #F4C23D;
}

.summary-cards {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 40px;
}

.card {
  flex: 1;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.card p {
  font-size: 20px;
  color: #333;
}

.vehicle-list {
  margin-top: 40px;
}

.vehicle-list h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  font-size: 16px;
}

thead {
  background-color: #f4f4f4;
}

th, td {
  padding: 15px;
  border: 1px solid #ddd;
  text-align: left;
}

th {
  font-weight: bold;
}

td {
  color: #333;
}

.action-button {
  background-color: #2959AD;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-right: 10px;
}

.action-button:hover {
  background-color: #F4C23D;
}

@media (max-width: 768px) {
  .summary-cards {
    flex-direction: column;
    gap: 20px;
  }

  .vehicle-list h2 {
    font-size: 24px;
  }

  th, td {
    padding: 10px;
  }

  .action-button {
    margin-bottom: 10px;
    display: block;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .modal-content {
    width: 50%;
  }
}

@media (max-width: 991px) {
  .car-item {
    width: 300px;
  }
}

@media (max-width: 600px) {
  .car-item {
    width: 90%;
    max-width: 300px;
  }
}
