<header [ngClass]="{'scrolled-header': isScrolled}" class="site-header">
  <nav class="navbar">
    <div class="logo">
      <a href="#"><img src="assets/logo.png" alt="Car 2 Go"></a>
    </div>
    <ul #navLinks class="nav-links"> <!-- Agregamos #navLinks -->
      <li><a routerLink="/home">Home</a></li>
      <li><a routerLink="/car-listing">Car Listing</a></li>
      <li><a routerLink="/my-cars">My Cars</a></li>
    </ul>
    <div class="profile-icon">
      <i class="material-icons">account_circle</i>
    </div>
    <!-- Menu Hamburguesa -->
    <div class="hamburger" (click)="toggleMenu()">
      <div></div>
      <div></div>
      <div></div>
    </div>
  </nav>
</header>
<section>
  <div class="space"></div>
</section>
