<app-toolbar></app-toolbar>

<section *ngIf="userRole === 'seller'">
  <div class="car-wrapper">
    <div class="car-header">
      <div class="icon-wrapper">
        <div class="icon-circle">
          <i class="fa fa-car"></i>
        </div>
        <div class="header-underline"></div>
      </div>
      <div class="text-content">
        <h2>FEATURED CARS</h2>
        <span>Explore our top cars picked just for you</span>
      </div>
    </div>

    <div class="cta-section-top">
      <a class="cta-button-top" (click)="navigateToCarListingForm()">Sell Car</a>
    </div>


    <div class="car-container">
      <div class="car-item" *ngFor="let car of cars | slice:0:6" (click)="viewCarDetails(car.id)">
        <div class="thumb-content">
          <div class="car-banner"></div>
          <div class="thumb-inner">
            <div class="image-wrapper">
              <a>
                <img [src]="car.image" alt="{{ car.title }}" class="img-thumbnail" width="150">
              </a>
            </div>
          </div>
        </div>
        <div class="down-content">
          <a><h4>{{ car.title }}</h4></a>
          <span>{{ car.price | currency }}</span>
          <p>{{ car.description }}</p>
          <ul class="car-info">
            <li>
              <div class="item">
                <i class="fas fa-calendar"></i>
                <p>{{ car.year }}</p>
              </div>
            </li>
            <li>
              <div class="item">
                <i class="fas fa-road"></i>
                <p>{{ car.speed }}p/h</p>
              </div>
            </li>
            <li>
              <div class="item">
                <i class="fas fa-gas-pump"></i>
                <p>{{ car.mileage }}km</p>
              </div>
            </li>
            <li>
              <div class="item">
                <i class="fas fa-gas-pump"></i>
                <p>{{ car.fuel }}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="cta-section">
      <a href="/car-listing" class="cta-button">Explore More Cars</a>
    </div>
  </div>
</section>




<section *ngIf="userRole === 'buyer'">
  <div class="car-wrapper">
    <!-- Cabecera de la sección -->
    <div class="car-header">
      <div class="icon-wrapper">
        <div class="icon-circle">
          <i class="fa fa-car"></i>
        </div>
        <div class="header-underline"></div>
      </div>
      <div class="text-content">
        <h2>FEATURED CARS</h2>
        <span>Explore our top cars and add them to your favorites</span>
      </div>
    </div>

    <div class="car-container">
      <div class="car-item" *ngFor="let car of cars | slice:0:6" (click)="viewCarDetails(car.id)">
        <div class="thumb-content">
          <div class="car-banner"></div>
          <div class="thumb-inner">
            <div class="image-wrapper">
              <a>
                <img [src]="car.image" alt="{{ car.title }}" class="img-thumbnail" width="150">
              </a>
            </div>
          </div>
        </div>

        <div class="down-content">
          <div class="title-favorite-wrapper">
            <a>
              <h4>{{ car.title }}</h4>
            </a>
            <button class="favorite-button" (click)="addToFavorites(car.id); $event.stopPropagation()">
              <i class="fa fa-star"></i>
            </button>
          </div>
          <span>{{ car.price | currency }}</span>
          <p>{{ car.description }}</p>
          <ul class="car-info">
            <li>
              <div class="item">
                <i class="fas fa-calendar"></i>
                <p>{{ car.year }}</p>
              </div>
            </li>
            <li>
              <div class="item">
                <i class="fas fa-road"></i>
                <p>{{ car.speed }}p/h</p>
              </div>
            </li>
            <li>
              <div class="item">
                <i class="fas fa-gas-pump"></i>
                <p>{{ car.mileage }}km</p>
              </div>
            </li>
            <li>
              <div class="item">
                <i class="fas fa-gas-pump"></i>
                <p>{{ car.fuel }}</p>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="cta-section">
      <a href="/car-listing" class="cta-button">Explore More Cars</a>
    </div>
  </div>
</section>


<section *ngIf="userRole === 'mechanic'">
  <div class="car-wrapper">
    <div class="car-header">
      <div class="icon-wrapper">
        <div class="icon-circle">
          <i class="fa fa-car"></i>

        </div>
        <div class="header-underline"></div>
      </div>
      <div class="text-content">
        <h2>FEATURED CARS</h2>
        <span>Explore our top cars picked just for you</span>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
