.car-details {
  display: flex;
  flex-direction: column;
}

h2{
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-top: -50px;
  font-size: 32px;
  font-weight: 500;
}

h2 span{
  color: #f4c23d;
}

.card{
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: -20px;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 350px;
  gap: 20px;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.car-gallery{
  flex: 1;
  min-width: 300px;
  display: flex;
  justify-content: center;
}

.car-images{
  display: flex;
  flex-direction: column;
  width: 100%;

}
.main-image{
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}
.main-image img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

.thumbnails {
  display: flex;
  width: 100%;
  gap: 2px;
  justify-content: space-between;
}

.thumbnails img {
  flex: 1;
  max-width: 19%;
  height: auto;
}

.car-information{
  flex: 1;
  display: flex;
  align-items: stretch;
  flex-direction: column;
  min-width: 300px;
}

.car-description{
  display: flex;
  flex-direction: column;
  max-height: 160px;
  height: 40%;
}

.car-description h4, .car-description h5 {
  font-size: 20px;
  font-weight: 700;
  margin-top:0;
}
.car-description p {
  font-size: 16px;
  margin-top: 0;
  width: 100%;
  color: #606060;
  height: 40%;
  max-height: 50px;
  text-end-overflow: ellipsis;
  overflow: auto;
}
.car-data{
  display: flex;
  flex: 1;
}

.column-list{
  flex:1;
  display: flex;
}

ul{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
ul li {
  list-style: none;
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}

li i{
  margin-right: 20px;
  border-radius: 5px;
  background-color: #f4c23d;
  font-size: 20px;
  padding: 5px;
  font-weight: 600;
}

li span{
  font-size: 12px;
  font-weight: 700;
}

.buttons{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  flex-wrap: wrap;
  flex: 1;
}

.buttons button{
  border: none;
  background-color: #F4C23D;
  color: white;
  cursor: pointer;
  font-size: 12px;
  border-radius: 8px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  width: 190px;
  height: 50px;
  font-weight: bold;
}

.buttons button:hover {
  background-color: rgba(244, 194, 61, 0.7);
}

h5{
  color: #2959AD;
}

.back-button{
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
}

.back-arrow{
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: center; /* Centrar verticalmente */
  width: 50px; /* Define un ancho según tus necesidades */
  height: 50px; /* Define una altura según tus necesidades */
  background-color: #f4c23d; /* Color de fondo opcional */
  border: none; /* Eliminar el borde si es necesario */
  border-radius: 50%; /* Redondear bordes si es un botón circular */
  cursor: pointer;
  color: white;
}
