<section class="car-details" *ngIf="userRole === 'seller'">
  <h2>CAR <span>DETAILS</span></h2>
  <mat-card class="card">
    <div class="car-gallery">
      <div class="car-images">
        <div class="main-image">
          <img [src]="mainImage" alt="Imagen del producto" />
        </div>
        <div class="thumbnails">
          <img *ngFor="let image of images"
               [src]="image"
               alt="Miniatura"
               (click)="changeImage(image)" />
        </div>
      </div>
    </div>
    <div class="car-information">
      <div class="car-description">
        <h4>{{ car.title }}</h4>
        <h5>${{ car.price }}</h5>
        <p class="description">{{ car.description }}</p>
      </div>
      <div class="car-data">
        <div class="column-list">
          <ul>
            <li><i class="material-symbols-outlined">event</i><span>{{ car.year }}</span></li>
            <li><i class="material-symbols-outlined">auto_transmission</i><span>{{ car.transmission }}</span></li>
            <li><i class="material-symbols-outlined">bolt</i><span>{{ car.engine }}</span></li>
            <li><i class="material-symbols-outlined">location_on</i><span>{{ car.location }}</span></li>
          </ul>
        </div>
        <div class="column-list">
          <ul>
            <li><i class="material-symbols-outlined">invert_colors</i><span>COLORS</span></li>
            <li><i class="material-symbols-outlined">sensor_door</i><span>{{ car.doors }}</span></li>
            <li><i class="material-symbols-outlined">road</i><span>{{ car.mileage }}</span></li>
          </ul>
        </div>
      </div>
      <div class="buttons">
        <button>DELETE VEHICLE</button>
        <button>REQUEST REVIEW</button>
      </div>
    </div>
  </mat-card>
  <div class="back-button">
    <button class="back-arrow"><i class="material-symbols-outlined">arrow_back</i></button>
  </div>
</section>
