<app-toolbar></app-toolbar>
<h1>Choose a <span class="highlight">Plan</span></h1>
<div class="card-container">
  <div class="card">
    <div class="card-header">
      <h5>Basic Plan</h5>
      <h4>S/ 179 / month</h4>
    </div>
    <ul>
      <li>Access to all listings</li>
      <li>Customer support</li>
      <li>Increased visibility in ads</li>
    </ul>
    <button>Subscribe Now</button>
  </div>

  <div class="card">
    <div class="card-header">
      <h5>Standard Plan</h5>
      <h4>S/ 179 / month</h4>
    </div>
    <ul>
      <li>Access to all listings</li>
      <li>Customer support</li>
      <li>Increased visibility in ads</li>
      <li>Discounts on featured listings</li>
      <li>Advanced technical review of vehicles</li>
    </ul>
    <button>Subscribe Now</button>
  </div>

  <div class="card">
    <div class="card-header">
      <h5>Premium Plan</h5>
      <h4>S/ 259 / month</h4>
    </div>
    <ul>
      <li>Access to all listings</li>
      <li>24/7 customer support</li>
      <li>Increased visibility in ads</li>
      <li>Commission discount</li>
      <li>Discounts on featured listings</li>
      <li>Advanced technical review of vehicles</li>
    </ul>
    <button>Subscribe Now</button>
  </div>
</div>
